#grid-container {
  display: grid;
  width: 300px;
  height: 300px;
  padding: 0px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.btn {
  color: rgb(255, 0, 0);
  height: 100px;
  width: 100px;
  text-emphasis-color: rgb(0, 8, 255);
  border-width: 2px;
  opacity: 1;
  text-align: center;
  text-emphasis: true;
  text-decoration-color: red;
  background-color: rgb(255, 255, 255);
  border-color: black;
  opacity: 1;
  font-size: 60px;

}

img {
  z-index: -1;
  position: absolute;
}

#grid-container {
  margin-top: 100px;
  align-content: center;
}

#controls {
  margin-left: auto;
  /*margin: auto;*/
  margin-right: auto;
  /*width: 50%;*/
  margin-top: 100px;
  justify-content: center;
  /*margin-left: 50%;*/
  /*margin-right: 50%;*/
  display: inline-grid;
  width: 583px;
  align-self: center;
  /*align-items: center;*/
  grid-template-columns: 300px 200px 100px;
  /*border: 10px;*/
  /*border-width: 10px;*/
  /*border-color: black;*/
  align-items: center;
  grid-column-gap: 10px;
  /*grid-column: 10px;*/
}

.display-box {
  justify-content: center;
  text-align: center;
  
  font-size: 30px;
  /*border-color: black;*/
  border-radius: 5%;
  border-color: green;
  border: solid;
  /*border: black;*/
}

#msgbox {
  width: 300px;
  height: 50px;
  padding-top: 20px;
  /*justify-content: center;*/
}

#roominfo {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 50px;
  padding-top: 10px;
}

#reset-btn {
  align-items: center;
  align-content: center;
  align-self: center;
}
.workspace {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}